.mainProfilePan {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    background-color: #E0EAFC;
    display: flex;
}

.leftProfilePan {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 17vw;
    background-color: #F1F2F6;
    opacity: 0.75;
    float: left;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align:center;
}

.userLink {
    padding-top: 10vh;
    font-weight: bold;
    font-size: 2.45vh;
}

.centerProfilePane {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 83vw;
    background-color: #FCFCFC;
    justify-content: center;
}

.centerProfilePane .topBar {
    font-size: 4.9vh;
    width: 100%;
    padding: 70px;
    color: #707070;
}

.createPostArea {
    margin-left: -15%;
    margin-top: -5vh;
}

.post-col-25 {
    padding: 0;
    float: left;
    width: 30%;
    color: black;
    text-align: right;
}

.post-col-25 label {
    padding-right: 3vw;
    font-size: 2vh;
    line-height: 40px;
}

.postCaption {
    font-size: 2vh;
    margin-top: 0.7vh;
    padding: 1vh 1vw 1vh 1vw;
    background-color: #F1F2F6;
    border: #F1F2F6;
    border-radius: 7px;
}

textarea {
    width: 32vw;
    height: 14vh;
}

.postHobbyTagContainer{
    display: inline-block;
    margin-right: 9vw;
    width: 50%;
    margin-top: 0.7vh;
}

#postHobbyTag {
    height: 5vh;
    width: 13vw;
    padding-left: 0.5vw;
    font-size: 2vh;
    border-radius: 10px;
    background-color: #F1F2F6;
    border-color: #F1F2F6;
}

#createPostButton {
    color: white;
    background-color: #769FCD;
    height: 5vh;
    width: 5vw;
    margin-top: 2vh;
    margin-right: 35%;
    border-radius: 20px;
    border: 0px;
    font-size: 1.8vh;
    cursor: pointer;
    outline: none;
    float: right;
}