.mainProfilePan {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    background-color: #E0EAFC;
    display: flex;
}

.leftProfilePan {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 17vw;
    background-color: #F1F2F6;
    opacity: 0.75;
    float: left;
    display: flex;
    justify-content: center;
    align-items: top;
    text-align:center;
}

.userLink {
    padding-top: 10vh;
    font-weight: bold;
    font-size: 2.45vh;
}

.centerProfilePan {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 83vw;
    background-color: #FCFCFC;
    justify-content: center;
}

.centerProfilePan .topBar {
    font-size: 4.9vh;
    width: 100%;
    padding: 70px;
    color: #707070;
}
.signUpButton {
    color: white;
    background-color: #769FCD;
    height: 5vh;
    width: 5vw;
    margin-right: 47%;
    border-radius: 20px;
    border: 0px;
    font-size: 1.8vh;
    cursor: pointer;
    outline: none;
}
.row {
    margin-top: 5vh;
}

.col-25 {
    padding: 0;
    float: left;
    width: 30%;
    color: black;
}

.col-25 label {
    font-size: 2vh;
    line-height: 40px;
}
.col-75 {
    padding: 0;
    margin: 0;
    float: right;
    width: 70%;
}
.FormPane
{
    margin-left:10%;
}
.caption
{
    height:30%;
}
#PostCaption
{
    margin-right: 47%;
    width:40%;
    height:100%;
    float:right;
    padding-left: 1%;
    border: 1;
    border-radius: 7px;
    font-size: 16px;
    font-size: 2vh;
    display: inline-block;
}
#label1
{
    padding-top: 0px;
    padding-bottom: 20px;
    color: #4e575a;
    margin-right: 94%;
    float:right
}
#label2
{
    color: #4e575a;
    
}